@import url("https://fonts.googleapis.com/css?family=Karla");
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-family: "Karla", sans-serif;
  font-size:5rem;
}
h2.title {
  color:#ffa500;
  font-weight: bold;
}
h2 {
  font-weight: bold
}
Button span{
  font-weight: bold;
  font-size:1rem;
}
